@font-face {
  font-family: Aqua-Grotesque;
  src: url(fonts/Aqua-Grotesque.ttf);
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
 font-family: Aqua-Grotesque;
 font-size: var(--text-size);
 background-color: var(--background-color);
 color: var(--text-color);
}

a {
  user-select: none;
}

a:visited, a:active {
  color: var(--visited-link-color);
}

.title {
  position: absolute;
  font-size: var(--title-size);
  text-align: center;
  width: 100%;
  padding-top: var(--title-size);

  user-select: none;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sketch {
  height: 80vh;
  width: 80vh;

  touch-action: none;
}

.footer {
  position: absolute;
  width: 100vw;
  bottom: 1vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer * {
  padding-left: 2vw;
  padding-right: 2vw;
}

#download {
  color: #f94144;
  text-decoration: none;
  cursor: pointer;
  user-select: none;

  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border: 1px solid #f94144;
  border-radius: 2px;
}

@media only screen and (max-width: 600px) {
  #sketch {
    height: 90vw;
    width: 90vw;
  }

  #download {
    padding: 0.25rem;
  }

  .footer  {
    justify-content: space-around;
  }
}
